.game-container {
  position: relative;
  width: 100%;
  height: 700px;
  padding: 0px;
  background: url("/public/images/backroud.png") no-repeat center center;
  background-size: cover;
}

.player {
  position: absolute;
  width: 100px;
}

.ball {
  position: absolute;
  width: 50px;
}

.scoreboard {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}
